/*css reset*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/****** inicio do css do footer ******/
footer{
    width: 100vw;
    background-color: rgb(49, 49, 49);
}

.rodape-titulo{
    padding-top: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
}

.rodape-secao1{
    /*background-color: blue;*/
    text-align: center;
    margin-bottom: 1em;
}

.rodape-secao1 .rodape-lista li{
    display: inline-block;
}

.rodape-secao1 .rodape-lista li a{
    color: whitesmoke;
}

.rodape-secao1 .rodape-lista i{
    font-size: 4em;
    padding: 10px;
    color: whitesmoke;
}

.rodape-secao2{
    /*background-color: green;*/
    margin-top: 2em;
}

.rodape-secao2 .imagem-logo-rodape{
    border-radius: 95px;
    height: 190px;
    margin-left: 1em;
    margin-top: 1em;
    width: 180px;
}

.rodape-secao2 table{
    text-align: center;
    margin-left: 11%;
    font-size: 1.2em;
    color: whitesmoke;
}

.rodape-secao2 .tabela-rodape .coluna1{
    padding-right: 2em;
    padding-left: 2em;
    font-weight: bold;
}

.rodape-secao2 .rodape-secao2-templo{
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1em;
    color: whitesmoke;
}

.rodape-secao2 .rodape-secao2-localizacao .mapa{
   width: 100vw;
}

.rodape-secao3{
    /*background-color: orange;*/
    margin-top: 3em;
}

.rodape-secao3 .tabela-dois-rodape{
   /* background-color: tomato;*/
    margin-left: 30%;
    margin-bottom: 1em;
    font-size: 1.2em;
   color: whitesmoke;
}


.rodape-secao4{
    /*background-color: teal;*/
    border-top: 1px solid black;
    text-align: center;
    color: whitesmoke;
}
/****** fim do css do footer ******/

