/*css reset*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/******* inicio css header mobile first *******/

header{
    width: 100vw;
}

.div-header{
    width: 100vw;
    text-align: center;
}

.div-header .imagem-logo {
    height: 190px;
    width: 180px;
    margin-top: 1em;
    border-radius: 40px;
}

.div-header figcaption{
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    color: #FF7F00;
}

.menu{
    margin-top: 1em;
    text-align: center;
}

.lista-menu .itens-menu{
    display: inline-block;
}

.lista-menu .itens-menu a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.lista-menu .itens-menu a:active,
.lista-menu .itens-menu a:hover{
    text-decoration: underline;
    color:  #FF7F00;
}

/* criei essa class para o menu ministerio ficar no centro */
.lista-menu .itens-menu-centro{
    margin: 0 35px;
}

/******* fim css header *******/

/****** inicio do css do main ******/
main{
    background-color: red;
    color: white;
    height: 50px;
    margin-top: 33px;
}
/****** fim do css do main ******/

/****** inicio do css do footer ******/
footer{
    width: 100vw;
}

.rodape-titulo{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.rodape-secao1{
    /*background-color: blue;*/
    text-align: center;
    margin-bottom: 1em;
}

.rodape-secao1 .rodape-lista li{
    display: inline-block;
}

.rodape-secao1 .rodape-lista li a{
    color: whitesmoke;
}

.rodape-secao1 .rodape-lista i{
    font-size: 4em;
    padding: 10px;
    color: black;
}

.rodape-secao2{
    /*background-color: green;*/
    margin-top: 2em;
}

.rodape-secao2 .imagem-logo-rodape{
    border-radius: 95px;
    height: 190px;
    margin-left: 1em;
    margin-top: 1em;
    width: 180px;
}

.rodape-secao2 table{
    text-align: center;
    margin-left: 11%;
    font-size: 1.2em;
}

.rodape-secao2 .tabela-rodape .coluna1{
    padding-right: 2em;
    padding-left: 2em;
    font-weight: bold;
}

.rodape-secao2 .rodape-secao2-templo{
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

.rodape-secao2 .rodape-secao2-localizacao .mapa{
   width: 100vw;
}

.rodape-secao3{
    /*background-color: orange;*/
    margin-top: 3em;
}

.rodape-secao3 .tabela-dois-rodape{
   /* background-color: tomato;*/
    margin-left: 30%;
    margin-bottom: 1em;
    font-size: 1.2em;
}


.rodape-secao4{
    /*background-color: teal;*/
    border-top: 1px solid black;
    text-align: center;
}


/****** fim do css do footer ******/



