.titulo-ministerio{
    width: 100vw;
    background-color: #ea5be8;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: whitesmoke;
    font-size: 30px;
}

p{
    margin-bottom: 2em;
    margin-left: 2em;
}